@model ProyectAudi.Models.USUARIO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>USUARIO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRIMERNOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRIMERNOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEGUNDONOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEGUNDONOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TERCERNOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TERCERNOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRIMERAPELLIDO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRIMERAPELLIDO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEGUNDOAPELLIDO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEGUNDOAPELLIDO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APELLIDOCASADA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APELLIDOCASADA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERSONA_NIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERSONA_NIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERSONA_DIRECCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERSONA_DIRECCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERSONA_TELEFONOCASA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERSONA_TELEFONOCASA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERSONA_TELEFONOMOVIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERSONA_TELEFONOMOVIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOTOGRAFIA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOTOGRAFIA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DPI_PDF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPI_PDF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_CORREO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_CORREO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO_TINY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO_TINY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MODIFICADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MODIFICADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROL.ROL_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.USUARIO_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
